.experience__container {
    gap: 2rem;
    display: flex;
    flex-direction:column;
}



.experience__details {
    gap: 2rem;
    text-align: left;
    background: var(--color-bg-variant);
    border-radius: 0.4rem;
    padding: 2rem;
    transition: var(--transition);
}

.experience__details:hover {
    text-align: left;
    background: transparent;
    color: var( --color-white);
    border-color: var(--color-primary-variant);
    cursor: default;
}

.uls-vat {
  margin-top: 0.2rem;
}

.uls-vat li::marker {
  color: white; /* or any accent */
}

/*Media Queries (Medium Devices)*/
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/*Media Queries (Small Devices)*/
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}